@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
svg{
  cursor: pointer;
}

body{
 
  width: 100%;
   padding: 20px;
}
.container{
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
h2{
  text-align: center;
  margin-bottom: 20px;
}
.input{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


li{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 20px auto;
}

.input input{
  
  width: 100%;
  padding: 8px 10px;
  border: none;
  outline: none;
  background-color: rgb(197, 192, 192);
  border-radius: 30px;
}
li{
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6c5ce7;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}


@media (max-width:768px) {
  .container{
    width: 100%;
  }
}